@model CJChat.Models.SignOn
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    @using (Html.BeginForm("Identify", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "Please correct the errors to continue.")

    <div>
        <fieldset>

            <legend>Enter a username and select your location to continue.</legend>

            <p>@Html.TextBoxFor(x => x.UserName) @Html.ValidationMessageFor(x => x.UserName)</p>
            <p>@Html.DropDownListFor(x => x.Location, (IEnumerable<SelectListItem>)ViewBag.TimeZones) @Html.ValidationMessageFor(x => x.Location)</p>
            <p>@Html.CheckBoxFor(x => x.Remember, true) Remember Me?</p>
            <input type="submit" value="Enter" />
        </fieldset>
    </div>
    }
</div>
